@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

:root {
  --dark-background-color: #311e25;
  --light-background-color: #3b2930;
  --beige-color: #db9a64;
  --white-color: #fff;
  --gray-text-color: #c9c5c5;
  --box-border-color: #6a4a3f;
  --blog-background-color :#fbf9ff;
  --light-text-color: #4D4D4D;
  --light-border-color: #f0e9ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
}

.btn-gold {
  text-decoration: none;
  border: 1px solid var(--beige-color);
  font-size: 1rem;
  color: var(--beige-color);
  width: 185px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
}

@media only screen and (min-width: 320px) {
  .banner-container {
    background-image: url('sources/banner/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .banner-container > .container{
    width: 100%;
    padding-top: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff ;
    padding-bottom: 150px;
}

  .banner-container > .container h1 {
font-size: 1.875rem;
    font-weight: 300;
    max-width: 50%;
text-align: center;

  }

  .banner-container header .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
  }
  .banner-container header .container a.logo {
    width: 80px;
  }
  .banner-container header .container a.logo img {
    height: 100%;
    width: 100%;
  }
  .banner-container header .container a.button {
    display: none;
    /*text-decoration: none;*/
    /*border: 1px solid var(--beige-color);*/
    /*font-size: 1rem;*/
    /*color: var(--beige-color);*/
    /*width: 170px;*/
    /*height: 50px;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*font-weight: 400;*/

  }
  .banner-container header .container .hamburger {
    width: 31px;
    height: 20px;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .banner-container header .container .hamburger span {
    width: 100%;
    height: 3px;
    background-color: #fff;
  }

  .banner-container header .container .nav-links {
    top: 65px;
    position: absolute;

    width: 90%;
    display: block;
    margin: 0 auto;
  }

  .banner-container header .container .nav-links.hidden {
    display: none;
  }

  .banner-container header .container .nav-links li {
    width: 100%;
    list-style: none;
  }
  .banner-container header .container .nav-links li a {
    display: inline-block;
    padding: 11px 15px;
    color: black;
    width: 100%;
    background-color: #fff;
    text-decoration: none;
    font-size: 0.9rem;
  }
  .banner-container section.one {
    display: block;
    /*    width: 100%;*/
    /* min-height: 430px;*/
    min-height: 375px;
  }

  .banner-container section.one .container {
    padding: 5px 0 0 10%;
    width: 100%;
    height: 100%;
  }
  .banner-container section.one .container .right {
    display: none;
  }

  .banner-container section.one .container .left {
    padding-top: 5px;
  }
  .banner-container section.one .container .left h1 {
    font-size: 1.8rem;
    font-weight: 300;
    /* margin-top: 125px; */
    margin-top: 65px;
    margin-bottom: 32px;
    color: #fff;
    letter-spacing: 0.6px;
    line-height: 1.6;
  }
  .banner-container section.one .container .left h1 span {
    color: var(--beige-color);
  }

  .banner-container section.one .container .left .button {
    /*text-decoration: none;*/
    /*border: 1px solid var(--beige-color);*/
    /*font-size: 1rem;*/
    /*color: var(--beige-color);*/
    /*width: 185px;*/
    /*height: 60px;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*font-weight: 400;*/
  }

  /* ------------------START of contact.html-------------------*/

  section.contact-us {
    padding: 70px 15px;
  }

  section.contact-us > .container {
    padding: 0;
  }

  section.contact-us .map-container {
    display: none;
    margin: auto;
    max-width: 600px;
  }

  section.contact-us .map-container .map {
    display: block;
    width: 100%;
  }

/*  section.contact-us > .container form {
    padding: 0 0 20px 0;

  }*/

  section.contact-us > .container h2 {
    font-size: 1.6rem;
    padding-bottom: 23px;
    display: block;

  }

  section.contact-us > .container form textarea {
    width: 100%;
  }

  section.contact-us > .container form .container input#name {
    width: 100%;
  /*  margin-right: 30px;*/
  }
  section.contact-us > .container form .container {
    display: block;

  }
  section.contact-us > .container form .container #email {
    width: 100%;
  }
  section.contact-us > .container form #subject {
    width: 100%;

  }
  section.contact-us > .container form *::placeholder {
    padding-left: 20px;
    font-size: 0.9rem;
    text-transform: capitalize;
    color: #a4a2a2;
  }

  section.contact-us .container form input, textarea {
    padding: 15px 0;
    font-family: 'Roboto', sans-serif;
    border: 1px solid #e5e6e9;
    font-size: 0.9rem;
    color: #e5e6e9;
    margin-bottom: 30px;
  }

  section.contact-us > .container form button {
    width: 200px;
    padding: 22px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size:0.85rem;
    background: none;
    border: 1px solid #DB9A64;
    color: #DB9A64;
    margin-top: 10px;
    margin-bottom: 15px;
  }

  section.contact-us > .container .contact-info {
    display: block;
  }

  section.contact-us > .container .contact-info .container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 250px;
    padding: 15px 0;
  }

  section.contact-us > .container .contact-info .container .icon {
    margin-right: 20px;
    font-size: 1.7rem;
    color: #8f9195;
  }
  section.contact-us > .container .contact-info .container p, address {
    font-weight: bold;
    color: #2a2a2a;

  }
  section.contact-us > .container .contact-info .container span {
    font-size: 1rem;
    color: #8f9195;
    font-weight: normal;
  }
  section.contact-us > .container .contact-info .container a:link {
    color: #2a2a2a;
    font-size: 1rem;
    text-decoration: none;
  }



  /* ------------------END of contact.html-------------------*/




  /* ------------------START of blog.html-------------------*/

  section.blog-main {
    padding: 180px 0 70px;

  }
  section.blog-main > .container {
    padding:60px 20px;

  }

  section.blog-main .container .main .image-container {
    width: 100%;
    position: relative;
    margin-bottom: 30px;
    height: 100%;
    background-color: violet;
  }
  section.blog-main .container .main .image-container img {
    width: 100%;
    height: 100%;
  }
  section.blog-main .container .main .image-container p {
    position: absolute;
    bottom: -15px;
    left: 10px;
    background-color: red;
    color: #fff;
    padding: 5px 13px;
    font-size: 1.2rem;
    font-weight: lighter;
    border-radius: 6px;
  }
  section.blog-main .container .main .image-container p span {
    font-weight: bold;
    font-size: 1.3rem;
  }
  section.blog-main .container .main a {
    text-decoration: none;
  }
  section.blog-main .container .main p {
    font-size: 1.05rem;
    line-height: 1.6;
    color: var(--light-text-color);
    font-weight: lighter;
  }
  section.blog-main .container .main a h2 {
    font-size: 1.1rem;
    color: black;
    margin-bottom: 20px;
  }
  section.blog-main .container .main article {
    padding: 50px 0 20px 0;
    box-shadow: 0 20px 20px 0 rgba(251, 249, 255, 1)
  }

  section.blog-main .container .main .page-buttons {
    /*    padding: 55px 0;*/

  }
  section.blog-main .container .main .page-buttons .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  section.blog-main .container .main .page-buttons .container .buttons{
    display: flex;
    gap: 5px;
    list-style: none;
    padding: 70px 0 60px 0 ;
  }

  section.blog-main .container .main .page-buttons .container .buttons .button {
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--light-border-color);
    font-size: 0.9rem;
    color: #888888;
  }

  section.blog-main .container .main article .article-footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    max-width: 270px;
    margin-top: 30px;
    gap: 9px;
    padding-left: 10px;
  }
  section.blog-main .container .main article .article-footer p .fa {
    margin-right: 5px;
    font-size: 0.7rem;
  }
  section.blog-main .container .main article .article-footer p {
    font-size: 0.85rem;
    font-weight: normal;
  }

  section.blog-main .container .main article .article-footer p span {
    margin-right: 3px;
  }


  section.blog-main > .container aside  {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  section.blog-main > .container aside h2 {
    font-size: 1.25rem;
    color: #001D38;
    padding-bottom: 20px;
    margin-bottom: -20px;
    border-bottom: 1px solid var(--light-border-color);
    display: block;
    width: 100%;
  }

  section.blog-main > .container aside > h2::before {
    content: "";
    background-color: var(--light-border-color);
    height: 1px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 40px;
    margin-bottom: 20px;
  }

  section.blog-main > .container aside form.search {
    width: 100%;
    background-color: var(--blog-background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px ;
    gap: 5px;

  }

  section.blog-main > .container aside form.search > .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    border: 1px solid #ced4da;
    background-color: #fff;
  }

  section.blog-main > .container aside form.search > .container i {
    padding: 0 15px;
    border: none;
    background-color: #fff;
    color: #999999;
  }

  section.blog-main > .container aside form.search .container input {
    padding: 17px 0;
    width: 100%;
    border: none;
    background-color: #fff;
  }
  section.blog-main > .container aside form.search .container input::placeholder {
    padding-left: 20px;
    color: #999999;

  }

  section.blog-main > .container aside form.search button {
    width: 100%;
    padding: 19px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.85rem;
    border: 1px solid #DB9A64;
    color: #DB9A64;
    margin-top: 10px;
    background-color: #fff;
  }


  section.blog-main > .container aside .category {
    width: 100%;
    padding: 40px 30px;
    background-color: var(--blog-background-color);
    margin: 0;

  }

  section.blog-main > .container aside .category .category-list {
    list-style: none;
  }
  section.blog-main > .container aside .category .category-list li {
    padding: 18px 0 18px;
    border-top: 1px solid var(--light-border-color);
  }

  section.blog-main > .container aside .category .category-list li:first-child {
    padding-top: 55px;
    border-top: none;
  }
  section.blog-main > .container aside .category .category-list li a:link {
    text-decoration: none;
    color: var(--light-text-color);
    font-weight: lighter;
    font-size: 1rem;
  }


  section.blog-main > .container aside .recent-post {
    width: 100%;
    background-color: var(--blog-background-color);
    padding: 40px 30px;
  }
  /*  section.blog-main .container aside .recent-post h2 {
      font-size: 1.2rem;
      color: #001D38;
      padding: 20px;

    }*/
  section.blog-main > .container aside .recent-post .post-list {
    list-style: none;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

  }
  section.blog-main > .container aside .recent-post .post-list li {
    display: flex;
    gap: 20px;
  }
  section.blog-main > .container aside .recent-post .post-list li:first-child {
    padding-top: 45px;
  }

  section.blog-main > .container aside .recent-post .post-list li .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 7px;
  }
  section.blog-main > .container aside .recent-post .post-list .container a:link {
    text-decoration: none;
    color: #001D38;
    font-weight: bold;
  }

  section.blog-main > .container aside .recent-post .post-list .container p {
    font-weight: lighter;
    font-size: 0.9rem;
    color: #001D38;
  }


  section.blog-main > .container aside .tag-clouds {
    width: 100%;
    background-color: var(--blog-background-color);
    padding: 40px 30px;
  }

  /*  section.blog-main > .container aside .tag-clouds h2 {
      font-size: 1.2rem;
      color: #001D38;
      padding: 20px;
    }*/
  section.blog-main > .container aside .tag-clouds .tag-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding-top: 55px;
  }
  section.blog-main > .container aside .tag-clouds .tag-list li {
    background-color: #fff;
    padding: 5px 15px;
  }
  section.blog-main > .container aside .tag-clouds .tag-list li a:link {
    text-decoration: none;
    color: #001D38;
    font-weight: lighter;
    font-size: 0.8rem;
  }

  section.blog-main > .container aside .instagram-feeds {
    background-color: var(--blog-background-color);
    padding: 40px 30px;

  }

  section.blog-main > .container aside .instagram-feeds .container {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    margin-top: 60px;
    margin-right: auto;
    margin-left: auto;
    justify-items: center;
  }
  section.blog-main > .container aside .instagram-feeds .container img {
    width: 70px;
  }
  /*  section.blog-main > .container aside .instagram-feeds h2 {
      font-size: 1.2rem;
      color: #001D38;
      padding: 20px;
    }*/


  section.blog-main > .container aside form.subscribe {
    width: 100%;
    background-color: var(--blog-background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 30px 40px 30px;
    gap: 5px;
    margin-bottom: 90px;
  }

  section.blog-main > .container aside form.subscribe h2 {
   /* align-self: flex-start;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--light-border-color);
    display: block;
    width: 100%;*/
    margin-bottom: 20px;
    padding-bottom: 20px;

  }




  section.blog-main > .container aside form.subscribe  input {
    padding: 17px 0;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ced4da;

  }
  section.blog-main > .container aside form.subscribe input::placeholder {
    padding-left: 20px;
    color: #999999;

  }

  section.blog-main > .container aside form.subscribe button {
    width: 100%;
    padding: 19px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.85rem;
    background: none;
    border: 1px solid #DB9A64;
    color: #DB9A64;
    margin-top: 10px;
  }
  /* ------------------about.html-------------------*/

  .banner-container .about-container {
    flex-direction: column;
    gap: 30px;
  }
  .banner-container .about-container h1 {
    max-width: 90%;
    line-height: 1.3;
  }
  /* ------------------about.html-------------------*/


  /* ------------------END of blog.html-------------------*/

  /* ------------------START of blog-detail.html-------------------*/

  .main section.single-blog {
    padding: 120px 0 0 0;
  }

  section.blog-main {
    padding-top: 10px;
  }

  .main section.single-blog > .container {
    padding: 0 15px;
  }
  /*
    section.single-blog > .container aside{
      float: right;
    }*/



  .main section.single-blog > .container .social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--light-border-color);
    margin: 20px 0;
    padding: 20px 0;
    gap: 20px;
  }

  .main section.single-blog > .container .social .icons {
    display: flex;
    gap: 20px;
  }
  .main section.single-blog > .container .social p {
    font-size: 0.87rem;
    font-weight: lighter;
    margin-bottom: 10px;
  }

  .main section.single-blog > .container .social .fa-heart {
    margin-right: 10px;
  }
  .main section.single-blog > .container .social .icons .fa-brands {
    font-size: 0.8rem;
    color: #999999;

  }
  .main section.single-blog > .container img {
    width: 100%;
  }
  .main section.single-blog > .container h2 {
    font-size: 1.1rem;
    padding: 20px 0;
  }

  .single-blog > .container .article {
    color: var(--light-text-color);
    font-size: 0.9rem;
    font-weight: lighter;
    line-height: 1.8;
  }


  .single-blog > .container .box {
    width: 100%;
    background-color: #828bb21a;
    padding: 15px;
    margin: 30px 0;
  }
  .single-blog > .container .box .article {
    background-color: #fff;
    margin: auto;
    color: #888888;
    font-weight: bold;
    border-left: 2px solid #888888;
    padding: 20px;
    line-height: 1.75;
    font-size: 0.95rem;
  }

  .main section.single-blog > .container .article-footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    max-width: 270px;
    margin-bottom: 20px;
    gap: 9px;
    padding-left: 10px;


  }
  .main section.single-blog > .container .article-footer p .fa {
    margin-right: 5px;
    font-size: 0.7rem;
  }
  .main section.single-blog > .container .article-footer  p {
    font-size: 0.85rem;
    font-weight: normal;

  }

  .main section.single-blog > .container .article-footer p span {
    margin-right: 3px;
  }

  .main  section.single-blog > .container .previous-next-blog {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding:  20px 0 30px ;
  }

  .main section.single-blog > .container .previous-next-blog .previous {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
  }


  .main section.single-blog > .container .previous-next-blog .previous > .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
  }

  .main section.single-blog > .container .previous-next-blog .container span {
    text-transform: capitalize;
    font-weight: lighter;
  }


  .main section.single-blog > .container .previous-next-blog .container p {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1.1rem;
  }


  .main section.single-blog > .container .previous-next-blog .next > .container {
    display: flex;
    flex-direction: column;
    text-align: right;
    justify-content: center;
  }


  .main section.single-blog > .container .previous-next-blog .next {
    display: flex;
    justify-content: flex-end;
    gap: 20px;

  }

  .main section.single-blog > .container .previous-next-blog img {
    width: 60px;
    height: 60px;
  }

  .main section.single-blog > .container .author {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    background-color: var(--blog-background-color);
    padding: 30px 10px;

  }
  .main section.single-blog > .container .author img {
    width: 45px;
    height: 45px;
  }
  .main section.single-blog > .container .author .name {
    font-weight: bold;
  }
  .main section.single-blog > .container .author > .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;

  }

  .main section.single-blog > .container .comments {
    padding: 30px 10px 80px 10px;
    border-bottom: 1px solid var(--light-border-color);
    border-top: 1px solid var(--light-border-color);
    margin-top: 50px;

  }

  .main section.single-blog > .container .comments h2 {
    padding-bottom: 30px;
  }

  .main section.single-blog > .container .comments .commenter-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
  }

  .main section.single-blog > .container .comments .commenter-list .commenter {
    display: flex;
    align-items: flex-start;
    gap: 20px;
  }


  .main section.single-blog > .container .comments .commenter-list .commenter img {
    width: 70px;
    height: 70px;
  }

  .main section.single-blog > .container .comments .commenter-list .commenter > .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .main section.single-blog > .container .comments .commenter-list .commenter > .container p {
    font-size: 0.65rem;
    line-height: 3;
    color: #777777;
  }

  .main section.single-blog > .container .comments .commenter-list .commenter > .container .inner-container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }

  .main section.single-blog > .container .comments .commenter-list .commenter > .container .inner-container .name {
    font-size: 0.75rem;
    font-weight: normal;
  }

  .main section.single-blog > .container .comments .commenter-list .commenter > .container .inner-container .date {
    font-size: 0.65rem;
    line-height: 2.7;
    color: var(--light-text-color);
    font-weight: lighter;

  }

  .main section.single-blog > .container .comments .commenter-list .commenter > .container .inner-container .reply {
    text-transform: uppercase;
    font-size: 0.85rem;
    color: var(--light-text-color);
  }


  .main section.contact-us > .container > h2 {
    font-size: 1.1rem;
    color: #001D38;
    padding-bottom: 45px;
  }

  .main section.contact-us .container{
    width: 100%;
    height: 100%;
    padding: 0 15px 0;
  }

  .main section.contact-us > .container form {
    padding-bottom: 10px;
  }

  .main section.contact-us {
    padding: 50px 0 10px ;
  }

  .main section.contact-us > .container form.blog-detail > .container {
    display: block;
    padding: 0;
    height: auto;
  }
  .main section.contact-us > .container form.blog-detail button {

    padding-top: 20px;
    padding-bottom: 20px;
  }

  .main section.contact-us > .container form.blog-detail input::placeholder, textarea::placeholder {
    font-size: 0.8rem;
  }

  .main section.contact-us > .container form.blog-detail textarea::placeholder {
    font-size: 0.8rem;
  }




  /* ------------------END of blog-detail.html-------------------*/


  section.two {
    background-color: var(--dark-background-color);
    padding-top: 100px;
    padding-bottom: 115px;
  }
  section.two > .container {
    padding: 0 15px;
  }

  section.two .container h2 {
    font-size: 1.6rem;
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.6px;
    line-height: 1.5;
  }
  section.two .container > .container p {
    color: var(--gray-text-color);
    margin-top: 50px;
    font-weight: 100;
    line-height: 1.9;
    letter-spacing: 0.6px;
  }
  section.two .container > .container .button {
    /*text-decoration: none;*/
    /*border: 1px solid var(--beige-color);*/
    /*font-size: 1rem;*/
    /*color: var(--beige-color);*/
    /*width: 200px;*/
    /*height: 60px;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*font-weight: 400;*/
    margin-top: 50px;

  }

  section.two .container .skills {
    display: block;
    padding-top: 70px;
  }
  section.two .container .skills .skill {
    display: block;
    margin-bottom: 75px;
    width: 100%;
    height: 6px;
    background-color: #fff;
    border-radius: 50px;
    position: relative;
  }
  section.two .container .skills .skill:last-child {
    margin-bottom: 0;
  }
  section.two .container .skills .skill span.percentage {
    height: 100%;
    background-color: var(--beige-color);
    border-radius: 50px;
    position: absolute;
    top: 0;
    left: 0;
  }

  section.two .container .skills .skill::before {
    left: 0;
    top: -37px;

    color: #fff;
    position: absolute;
  }

  section.two .container .skills .wire-framing::before {
    content: 'Wireframing';
  }

  section.two .container .skills .ui-ux::before {
    content: 'UI/UX';
  }

  section.two .container .skills .interaction-design::before {
    content: 'Interaction Design';
  }

  section.two .container .skills .skill::after {
    right: 0;
    top: -37px;
    color: #fff;
    position: absolute;
  }

  section.two .container .skills .wire-framing::after {
    content: '90%';
  }

  section.two .container .skills .ui-ux::after {
    content: '70%';
  }

  section.two .container .skills .interaction-design::after {
    content: '45%';
  }

  section.two .container .skills .wire-framing span.percentage {
    width: 90%;
  }

  section.two .container .skills .ui-ux span.percentage {
    width: 70%;
  }
  section.two .container .skills .interaction-design span.percentage {
    width: 45%;
  }
  section.three {
    background-color: var(--light-background-color);
    padding-bottom: 100px;
    padding-top: 120px;
  }
  section.three .container {
    padding: 0 15px;
  }
  section.three .container h2 {
    color: #fff;
    font-size: 1.85rem;
    font-weight: 400;
    margin-bottom: 50px;
  }
  section.three .container .service-list {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  section.three .container .service-list .service-item {
    height: 297px;
    max-width: 530px;
    border: 1px solid var(--box-border-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    text-align: center;
    gap: 15px;
    padding: 20px;
  }
  section.three .container .service-list .service-item h3 {
    color: var(--beige-color);
    font-size: 1.55rem;
    font-weight: 400;
  }
  section.three .container .service-list .service-item img {
    /*
        margin-bottom: 20px;
        */
  }
  section.three .container .service-list .service-item p {
    color: var(--gray-text-color);
    /*    margin-top: 50px;*/
    font-weight: 100;
    line-height: 1.9;
    letter-spacing: 0.6px;
  }
  section.four {
    background-color: var(--dark-background-color);

    padding-top: 130px;
    padding-bottom: 130px;
  }
  section.four > .container {
    padding: 0 15px;
    width: 100%;
  }
  section.four .container h2 {
    color: #fff;
    font-size: 1.85rem;
    font-weight: 400;
    margin-bottom: 50px;
  }

  section.four .container .project-list .container img {
    width: 100%;
  }
  section.four .container .project-list .container .project {
    padding-bottom: 100px;
  }
  section.four .container .project-list .container .details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }

  section.four .container .project-list .container .details span {
    color: #fff;
    padding-top: 30px;
  }
  section.four .container .project-list .container .details h3 {
    color: var(--beige-color);
    font-size: 1.3rem;
  }
  section.four .container .button {
    /*text-decoration: none;*/
    /*border: 1px solid var(--beige-color);*/
    /*font-size: 1rem;*/
    /*color: var(--beige-color);*/
    /*width: 100%;*/
    /*height: 60px;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*font-weight: 400;*/
    margin-top: 50px;
    width: 100%;

  }
  /* ------------------services.html-------------------*/


  section.product {
    background-color: var(--dark-background-color);
    padding-bottom: 110px;
  }

  section.product .container {
    display: block;
    padding-right: 15px;
    padding-left: 15px;
  }
  section.product .container .left img {
    width: 100%;
  }

  section.product .container .right h2 {
    color: #fff;
    font-size: 2.25rem;
    font-weight: 400;
    margin-top: 27px;
  }
  section.product .container .right p {
    color: var(--gray-text-color);
    margin-top: 27px;
    font-weight: 100;
    line-height: 1.9;
    letter-spacing: 0.6px;
  }
  section.product .container .right .button {
    margin-top: 50px;
  }


  section.mockup {
    background-color: var(--dark-background-color);
    padding-bottom: 100px;
  }
  section.mockup .container {
    display: block;
    padding: 0 15px;
  }
  section.mockup .container .left h2{
    color: #fff;
    font-size: 2.25rem;
    font-weight: 400;
  }

  section.mockup .container .left p {
    color: var(--gray-text-color);
    margin-top: 30px;
    font-weight: 100;
    line-height: 1.9;
    letter-spacing: 0.6px;
    font-size: 0.95rem;
  }
  section.mockup .container .left .button {
    /*text-decoration: none;*/
    /*border: 1px solid var(--beige-color);*/
    /*font-size: 1rem;*/
    /*color: var(--beige-color);*/
    /*width: 200px;*/
    /*height: 60px;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*font-weight: 400;*/
    margin-top: 50px;
    margin-bottom: 30px;

  }
  section.mockup .container .right img {
    width: 100%;
  }


  /* ------------------services.html-------------------*/

  section.five {
    padding-top: 60px;
    padding-bottom: 150px;
    background-color: var(--light-background-color);
  }
  section.five .container {
    padding: 0 15px;
  }
  section.five .container h2 {
    color: #fff;
    font-size: 1.85rem;
    font-weight: 400;
    margin-bottom: 50px;
  }
  section.five .container .clients .client {
    position: relative;
    width: 100%;
  }
  section.five .container .clients .client blockquote {
    color: #fff;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.6px;
    font-size: 1.2rem;
  }
  section.five .container .clients .client .info {
    display: flex;
    gap: 0;
    position: absolute;
    top: 115%;
    left: 0;
  }
  section.five .container .clients .client .info .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
  }
  section.five .container .clients .client .info .container .name {
    color: var(--beige-color);
    font-size: 1.4rem;
  }
  section.five .container .clients .client .info .container .profession {
    color: #fff;
    font-size: 0.8rem;
  }
  footer {
    background-image: url('sources/banner/footer_bg.png');
    padding-top: 100px;
    padding-bottom: 40px;
  }
  footer .container {
    padding: 0 15px;
  }
  footer .container h2 {
    color: #fff;
    font-size: 1.85rem;
    font-weight: 400;
    padding-bottom: 20px;
  }
  footer .container h2 span {
    color: var(--beige-color);
  }

  footer .container p {
    color: var(--gray-text-color);
    font-weight: 100;
    line-height: 1.9;
    letter-spacing: 0.6px;
  }
  footer .container .social-media-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 70px 0 40px 0;
  }
  footer .container .social-media-list .social-media-item {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--box-border-color);
    padding: 0 30px;
  }
  footer .container .social-media-list .social-media-item .name {
    color: #fff;
    font-size: 1.4rem;
  }
  footer .container .social-media-list .social-media-item .fa-brands {
    color: var(--beige-color);
    font-size: 1.3rem;
  }
  footer .container #copy-right {
    font-size: 0.8rem;
    color: var(--gray-text-color);
    text-align: center;
    padding: 0 10px;
    line-height: 2.3;
  }
  footer .container #copy-right span {
    color: var(--beige-color);
  }
}

@media only screen and (min-width: 580px) {
  section.contact-us .map-container {
    display: block;
  }
 /* section.blog-main > .container aside  {
    min-width: 530px;
    margin-left: auto;
    margin-right: auto;
  }*/
  .main-container .main {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }


  section.contact-us > .container form .container {
    margin-right: -20px;
  }


  section.contact-us > .container {
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
  }
  section.blog-main > .container .main {
  max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
  section.blog-main > .container aside {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
 section.blog-main > .container aside .instagram-feeds .container {
    margin-right: auto;
    margin-left: auto;

  }
  section.blog-main > .container aside .instagram-feeds .container img {
    width: 90px;

  }
  .main section.single-blog > .container .social {
    flex-direction: row;
    justify-content: space-between;
  }
  /* ------------------about.html-------------------*/

  .banner-container .about-container {
    gap: 30px;
  }
  .banner-container .about-container h1 {
    max-width: 320px;
    line-height: 1.4;

  }
  /* ------------------about.html-------------------*/
  section {
    padding-right: 60px;
    padding-left: 60px;
  }
}

@media only screen and (min-width: 768px) {
  .banner-container > .container h1 {
    font-weight: 300;

  }
  .banner-container > .container {
    padding-top: 60px;

    padding-bottom: 122px;
  }


 /* section.four {
    background-color: var(--dark-background-color);

    padding-top: 130px;
    padding-bottom: 130px;
  }*/


  .banner-container header .container {
    padding: 10px 30px;
  }

  .banner-container section.one .container {
    padding: 25px 40px 150px 70px;
  }

  .banner-container section.one .container .left h1 {
    font-size: 3.3rem;
  }

  .banner-container section.one .container .left .button {
    margin-top: 70px;
  }
  /* ------------------blog.html-------------------*/
  section.blog-main .container .main a h2 {
    font-size: 1.5rem;
 /*   color: black;
    margin-bottom: 20px;*/
  }

  section.contact-us > .container {
    max-width: 675px;

  }
  section.blog-main > .container .main {
    max-width: 675px;
  }


  section.blog-main > .container aside {
/*    max-width: 90%;*/
  max-width: 675px;

  }

  .main-container .main {
    max-width: 675px;
  }
  .main-container .blog-main > .container aside {
    max-width: 675px;
    margin-left: auto;
    margin-right: auto;
  }
  .main  section.single-blog > .container .previous-next-blog {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

    /* ------------------blog.html-------------------*/
  section.two > .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    column-gap: 25px;
    padding: 0 40px;
  }

  section.two > .container h2 {
    grid-column: 1/-1;
    font-size: 2.2rem;
  }
  section.three .container {
    padding: 0 40px;
  }
  section.three .container h2 {
    font-size: 2.2rem;
  }

  section.three .container .service-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
  }
  section.three .container .service-list .service-item {
    margin-bottom: 0;
    max-width: 300px;
    height: 300px;
  }
  section.four > .container {
 /*   padding: 0 40px;*/
    padding: 100px 40px;
  }
  /* ------------------works.html-------------------*/


  .banner-container > .container h1 {
    font-size: 5rem;
  font-weight: 300;
  }

  /* ------------------works.html-------------------*/
  /* ------------------about.html-------------------*/

  .banner-container .about-container {
    gap: 50px;
  }
  .banner-container .about-container h1 {
    max-width:600px;
    line-height: 1.6;
    font-size: 3.37rem;

  }

  /* ------------------about.html-------------------*/

  section.four > .container h2 {
    font-size: 2.2rem;
    margin-bottom: 60px;
  }

  section.four .container .project-list {
    display: flex;
    gap: 30px;
  }
  section.four .container .button {
    margin-top: 0;
  }

  /* ------------------services.html-------------------*/

  section.product .container {
    display: flex;
    gap: 30px;
    padding: 0 35px;
    align-items: center;

  }
  section.product .container .left {
    width: 50%;
  }
  section.product .container .left img {
    width: 100%;
  }
  section.product .container .right {
    width: 50%;
  }

  section.mockup .container {
    display: flex;
    gap: 30px;
    padding: 0 35px;
    align-items: center;
  }
  section.mockup .container .left {
    width: 50%;
  }

  section.mockup .container .right {
    width: 50%;
  }

  section.mockup .container .right img {
    width: 100%;
  }
  /* ------------------services.html-------------------*/

  /* ------------------contact.html-------------------*/

  section.contact-us > .container {
    max-width: 700px;
    margin-right: auto;
    margin-left: auto;
  }
  section.contact-us .map-container {
    max-width: 700px;
  }

  /* ------------------contact.html-------------------*/



  section.five {
    padding-top: 100px;
    padding-bottom: 250px;
  }

  section.five .container {
    padding: 0 40px;
  }
  section.five .container .clients .client .info {
    top: 130%;
  }
  footer {
    padding-top: 180px;
    padding-bottom: 40px;
  }
  footer .container {
    padding: 0 40px;
  }
  footer .container h2 {
    font-size: 2.4rem;
    padding-bottom: 30px;
    font-weight: 500;
  }

  footer .container .social-media-list {
    flex-direction: row;
    gap: 10px;
    padding-bottom: 110px;
  }
  footer .container .social-media-list .social-media-item {
    width: 100%;
    gap: 20px;
    padding: 0 20px;
  }
  section {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media only screen and (min-width: 1024px) {
  section > .container,
  footer .container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
  }

  .main-container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
  }

  .banner-container > .container {
    padding-top: 135px;

    padding-bottom: 197px;
  }

  .banner-container header {
    padding-top: 10px;
  }

  .banner-container header .container {
    display: flex;
  }
  .banner-container header .container a.logo {
    width: 85px;
  }

  .banner-container header .container .nav-links {
    width: 40%;
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
  }

  .banner-container header .container .nav-links.hidden {
    display: flex;
  }

  .banner-container header .container .nav-links li {
    position: relative;
  }
  .banner-container header .container .nav-links li > ul {
    display: none;
  }
  .banner-container header .container .nav-links li:hover ul {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
  }

  .banner-container header .container .nav-links li a {
    color: var(--beige-color);
    background: none;
    text-decoration: none;
    font-size: 0.9rem;
    height: 100%;
  }

  .banner-container header .container .hamburger {
    display: none;
  }
  .banner-container header .container a.button {
    display: flex;
  }

  .banner-container section.one .container {
    display: flex;
    gap: 100px;
  }
  .banner-container section.one .container .right {
    display: flex;
  }

  .banner-container section.one .container .right img {
    width: 300px;
  }

  .banner-container section.one .container .left h1 {
    font-size: 3.9rem;
    line-height: 1.2;
    width: 120%;
    margin-top: 40px;
  }

  .banner-container section.one .container {
    padding: 50px 20px 0 70px;
  }



  /*----------------- services.html -------------------*/




  section.product > .container .left img {
    width: 85%;

  }

  section.mockup > .container .right img {
    width: 90%;
  }

  section.product > .container {
    gap: 20px;
    justify-content: flex-start;
    padding-left: 10px;
    padding-right: 10px;
  }

  section.mockup > .container {
    gap: 120px;
    justify-content: flex-start;
    padding-left: 10px;
    padding-right: 10px;
  }



  /*----------------- services.html -------------------*/


  /*----------------- blog.html -------------------*/


  section.blog-main .container {
    display: flex;
    align-items: flex-start;
    gap: 30px;
  }




  /*----------------- blog.html -------------------*/

  /*----------------- blog-detail.html -------------------*/


  section.blog-main > .container aside  {
    max-width: 350px ;
  }

  .main-container .blog-main > .container aside {
    max-width: 350px ;
  }




  .main-container {
    display: flex;
    align-items: flex-start;
    max-width: 1140px;
    padding: 0 20px 0 30px;
  }

  /*----------------- blog-detail.html -------------------*/



  section.contact-us > .container {
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: auto 1fr;
    max-width: 1140px;
    padding: 70px 40px 40px;
    gap: 25px;

  }
  section.contact-us > .container h2 {
    padding-bottom: 0;
  }

  section.contact-us > .container .contact-info .container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 250px;
    padding: 0 0 15px 0;
  }


  section.contact-us > .container .contact-info {
    margin-right: 80px;
  }
  section.contact-us > .container .contact-info .container {
    margin-bottom: 30px;
  }

  section.contact-us > .container h2 {
    grid-column: 1/-1;
  }
  section.contact-us > .container form {
    width: 100%;
  }

  section.four .container .project-list {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* ------------------about.html-------------------*/

  .banner-container .about-container {
    gap: 50px;
  }
  .banner-container .about-container h1 {
    max-width:750px;
    line-height: 1.4;
    font-size: 4.375rem;

  }
  .banner-container > .container {
    padding-top: 50px;
    padding-bottom: 120px;
  }

  /* ------------------about.html-------------------*/

  /*----------------- contact.html -------------------*/

  section.contact-us .map-container {
    max-width: 1140px;
    padding: 0 40px;
  }

  /*----------------- contact.html -------------------*/

}

@media only screen and (min-width: 1200px) {
  .banner-container section.one .container .right img {
    width: 500px;
  }
  .banner-container section.one .container .left h1 {
    font-size: 4.9rem;
    line-height: 1.2;
    width: 170%;
    margin-top: 160px;
  }
  .banner-container section.one .container {
    padding-left: 20px;
  }
  .banner-container > .container{

    padding-top: 158px;

    padding-bottom: 220px;
  }
  /* ------------------about.html-------------------*/

  .banner-container .about-container {
    gap: 50px;
  }
  .banner-container .about-container h1 {
    max-width:850px;
    line-height: 1.1;
    font-size: 5rem;

  }
  .banner-container > .container {
    padding-top: 160px;
    padding-bottom: 260px;
  }

  /* ------------------about.html-------------------*/
}
